<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Troll Patrol</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>




<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="Brand" src="...">
      </a>
          <ul class="nav navbar-nav navbar-right">
            {{#if user}}
              <li role="presentation"><a href="/">Live Stream</a></li>
              <li role="presentation"><a href="/users/dashboard/{{user._id}}">Dashboard</a></li>
              <li role="presentation"><a href="/users/logout">Logout</a></li>
            {{else}}
              <li role="presentation"><a href="/users/login">Login</a></li>
              <li role="presentation"><a href="/users/register">Register</a></li>
            {{/if}}
          </ul>
    </div>
  </div>
</nav>

	<div class="container-fluid">
      <div class="row">
        <div class="col-12 text-center">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          
          
        </div>        
      </div>

      {{{body}}}

      <footer class="footer">
        <p>&copy; Troll Patrol</p>
      </footer>

  </div> <!-- /container -->

</body>
</html>
