<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Troll Patrol</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link rel="icon"
 href="https://res.cloudinary.com/ddsihrmda/image/upload/v1500248911/trollpatrollogoone_fzcptm.png" />
</head>




<body>

<nav class="navbar navbar-default">
  <div class="container-fluid outernav-container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img class="tplogo" alt="Brand" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500248911/trollpatrollogoone_fzcptm.png" height="80px">
      </a>
    </div>
          <ul class="nav navbar-nav navbar-right">
            {{#if user}}
              <li role="presentation" class="nav-button"><a class="nav-button-link" href="/">Back to streams</a></li>
              <li role="presentation" class="nav-button"><a class="nav-button-link" href="/users/dashboard/{{user.username}}">Dashboard</a></li>
              <li role="presentation" class="nav-button"><a class="nav-button-link" href="/users/logout">Logout</a></li>
            {{else}}
              <li role="presentation" class="nav-button"><a class="nav-button-link" href="/users/login"><p>Login</p></a></li>
              <li role="presentation" class="nav-button"><a class="nav-button-link" href="/users/register"><p>Register</p></a></li>
            {{/if}}
          </ul>
  </div>
</nav>

	<div class="container-fluid">
      <div class="row">
        <div class="col-12 text-center">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
    
          
        </div>        
      </div>

      {{{body}}}

      <footer class="footer">
        <p>&copy; Troll Patrol</p>
      </footer>

  </div> <!-- /container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/register.js"></script>
</body>
</html>
